{% extends "layout.html" %}

{% block title %}{{ super() }} | Home {% endblock %}

{% block content %}
<h1>Welcome to the Rock Paper Scissors Game</h1>
<p>To play, in the address bar above append '/rps/' to the URL. Then after that last '/' type in your choice.</p>
<p>For example if you want to choose 'rock':</p>
<p>http://url/rps/rock</p>
<h2>Or click a link below with your choice:</h2>
<p><a href="{{ url_for('rps', choice='scissors') }}">Scissors</a></p>
<p><a href="{{ url_for('rps', choice='rock') }}">Rock</a></p>
<p><a href="{{ url_for('rps', choice='paper') }}">Paper</a></p>

{% endblock %}